body {
    background: #444;
    height: 100%;
}

input {
    display: inline-block;
    width: 25px;
}

h1 {
    text-align: center;
    font-size: 3.5em;
    padding: 10px;
    color: white;
}

h2 {
    font-size: 3em;
    text-align: center;
    padding: 75px;
    background: white;
    color: black;
}

h2 span {
    display: inline-block;
    width: 30%;
    height: 90px;
    font-size: 2em;
}

div#buttons {
    text-align: center;
    padding: 0 0 25px;
}
